<div class="h-screen flex flex-col justify-between">
    <div>
        <div class=" w-full h-16 bg-auto-green"></div>
        <div class="mb-6 px-10 bg-gray-white flex flex-row justify-between  py-6  items-center">
            <p class="text-2xl font-normal">Multimedia : {{folder.folderName}}</p>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center mb-[100px]">
        <div class="flex flex-col justify-center items-center mb-20">
            <p class="text-xl font-semibold"> Multimedia</p>
            <p class="w-[610px] text-center font-light">Sube las imágenes, vídeos o archivos correspondientes a las zonas de tu hotel para usarlas dentro de las diferentes secciones de tu hotel.</p>
        </div>
        <form [formGroup]="uploadForm">
            <lib-upload-file formControlName="images" [preloadImage]="preLoadImg" ></lib-upload-file>
        </form>
    </div>
    <div class="h-[72px] content-blur bg-gray-white flex  justify-center items-center">
        <div class=" flex flex-row justify-end gap-16 w-[1132px]">
            <button class="px-4 py-2 border border-auto-green rounded-xl">Omitir</button>
            <button class="px-4 py-2 border border-none text-white bg-auto-green rounded-xl">Continuar</button>
        </div>
    </div>
</div>