<div class=" h-screen font-light flex flex-col ">
    <div class=" w-full h-16 bg-auto-green"></div>
    <div class="h-full  flex flex-col justify-between">
        @if (loading === "loading") {
            <div class="animate-pulse">
                <div class="h-[87px] bg-gray-white flex flex-col justify-center">
                    <div class="mx-10 h-10 bg-gray-xlight rounded-lg"></div>
                </div>
                <div class="  mt-6 mx-10 py-4 bg-gray-white rounded-lg flex flex-col gap-2">
                    @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
                        <div class="h-[75px] bg-gray-xlight rounded-lg mx-4 "></div>
                    }
                </div>
            </div>
        }
        @else if (foldersList.length <= 0 && loading === "load") {
            <div class="flex justify-center">
                <div class="w-[1132px] h-[677px] rounded-lg mt-8 border border-gray-light flex flex-col items-center gap-14">
                    <div class="flex flex-col content-center items-center mt-16">
                        <p class="font-semibold text-xl">Multimedia</p>
                        <p class="w-[610px] text-center ">Sube las imágenes correspondientes a las zonas de tu hotel para usarlas dentro de Contler. Podrás hacer esto después</p>
                    </div>
                    <div (click)="createFolder()" class="w-[233px] h-[167px] border  border-gray-medium rounded-lg flex flex-col items-center hover:bg-gray-light cursor-pointer">
                        <div class="py-8 flex flex-col items-center " >
                            <div class="w-14 h-14 border border-gray-400"></div>
                            <p class="font-semibold">Crear carpeta</p>
                        </div>
                    </div>
                </div>
            </div>
        }@else if (foldersList.length >= 1) {
            <div class="overflow-y-auto">
                <div class="mb-6 px-10 bg-gray-white flex flex-row justify-between  py-6  items-center">
                    <p class="text-xl font-semibold">Multimedia</p>
                    <button class="px-4 py-2 border border-none text-white bg-auto-green rounded-xl" (click)="createFolder()">Crear carpeta</button>
                </div>
                <div class="px-10">
                    <lib-multimedia-table [displayedColumns]="columns" (row)="openFolder($event)" [multimedia]="foldersList"></lib-multimedia-table>
                </div>
            </div>
        }
        @if (foldersList.length <= 0 && loading === "load") {
            <div class="h-[72px] content-blur bg-gray-white flex  justify-center items-center">
                <div class=" flex flex-row justify-end gap-16 w-[1132px]">
                    <button class="px-4 py-2 border border-auto-green rounded-xl">Omitir</button>
                    <button class="px-4 py-2 border border-none text-white bg-auto-green rounded-xl">Continuar</button>
                </div>
            </div>
        }
    </div>

</div>